---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC64d8478d2a10c578da81a308acaea13c/Messages.json
    body:
      encoding: UTF-8
      string: Body=String&From=%2B12676898582&To
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM2NGQ4NDc4ZDJhMTBjNTc4ZGE4MWEzMDhhY2FlYTEzYzowNmVjMzI1OGE3MjA2N2U3YmNhNWM1NWNjYzNjZGY4Nw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.020'
      Twilio-Request-Id:
      - RQ53f26244dea1472b939a005003323d66
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21604, "message": "A ''To'' phone number is required.", "more_info":
        "https://www.twilio.com/docs/errors/21604", "status": 400}'
  recorded_at: Wed, 21 Feb 2018 01:26:44 GMT
recorded_with: VCR 4.0.0
