@import "bootstrap";
@import "preloader";
@import "variables";
@import "intlTelInput";
//@import "intl-tel-input/build/css/intlTelInput";

//init-colors
$green: #28a745;
$navbar-bg: $spotify-nav-bg;
$navbar-invert: $spotify-invert;
$navbar-link-invert: $spotify-green;
$navbar-link-hover: $green;

$navbar-btn-color: $spotify-green;

$main-bg: $spotify-bg;
$main-invert: $spotify-invert;
$main-subtext-invert: $spotify-subtext-invert;
$main-link-invert: $spotify-green;
$main-link-hover: $green;

.custom-btn {
  color: $navbar-btn-color;
  background-color: transparent;
  border-color: $navbar-btn-color;
  &:hover {
    color: $navbar-invert;
    background-color: $navbar-btn-color;
    border-color: $navbar-link-hover;
  }
}

.green-glow {
  &:focus {
    border-color: $navbar-link-invert;
    box-shadow: 0 0 0 0.2rem rgba(30, 215, 96, 0.25);
  }
}

.navbar {
  background-color: $navbar-bg;
  color: $navbar-invert;
  .navbar-brand {
    color: $navbar-link-invert;
    &:hover {
      color: $navbar-link-hover;
    }
  }
  .form-control {
    @extend .green-glow;
    color: $navbar-invert;
    background-color: transparent;
  }
  .btn-outline-success {
    @extend .custom-btn;
  }
}
.content-wrapper {
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: $main-bg;
  color: $main-invert;
}
#artist-info {
  h5 {
    a {
      color: $main-invert;
      &:hover {
        color: $main-link-invert;
        text-decoration: none;
      }
    }
  }
  p {
    color: $main-subtext-invert;
  }
}
//.swal-button--confirm {
//  @extend .custom-btn;
//  border: 1px solid;
//}
.modal {
  .intl-tel-input {
    width: 100%;
    .form-control {
      @extend .green-glow;
    }
  }
}
.modal {
    text-align: center;

    &:before {
      content: '';
      height: 100%;
      width: 1px;
      display: inline-block;
      vertical-align: middle;
    }

    .modal-dialog {
      text-align: left;
      margin: 10px auto;
      display: inline-block;
      vertical-align: middle;
    }
}